.content
  .container
    .page-header
      .pull-right
        %strong> Available Balance:
        = number_to_currency(@current_account.current_balance, precision: 0)
      %h2 Statement
    .statement-table
      .table-responsive
        %table.table.table-bordered
          %thead
            %tr.info
              %th #
              %th Date
              %th Credit($)
              %th Debit($)
          %tbody
            - if @current_account.transactions.size > 0
              - @current_account.transactions.each_with_index do |transaction, index|
                %tr
                  %td= index + 1
                  %td= transaction.created_at
                  - if transaction.credit?
                    %td= number_with_delimiter(transaction.amount)
                    %td
                  - else
                    %td
                    %td= number_with_delimiter(transaction.amount.abs)
            - else
              %tr
                %td{colspan: 4}
                  There is no transactions
= render partial:  'popup', locals: { operation: Transaction::DEPOSIT }
= render partial:  'popup', locals: { operation: Transaction::WITHDRAW }
= render partial:  'popup', locals: { operation: Transaction::TRANSFER }
